APP_NAME=GestionTI

# Base de datos SQL Server
DB_SERVER=localhost
DB_NAME=DBTAUMEX
DB_USER=sa
DB_PASSWORD=
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_SERVER_CERTIFICATE=yes
DB_ENCRYPT=yes
DB_CONNECTION_TIMEOUT=30
